body{
    font-family: 'Montserrat', sans-serif;
    color: #464646;
}
img{
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
    color: #000;
}

/*===================================MAIN-HEADER=============================================*/
.main_header{
    color: #fff;
    background: url("../img/header_bg.jpg") center no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.main_header h2{
    color: #bea67c;
    font-size: 100px;
    margin-top: 300px;
}
.header-btn{
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
}
/*=========================================NEWS================================================*/
.more{
  color: #000;
  text-decoration: underline 2px #bea67c ;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.more:hover{
    color: #bea67c;
    text-decoration: none;
}
/*=========================================SHOP=================================================*/

/*===========================================VIDEO==============================================*/

/*=====================================ABOUT US=================================================*/

/*===================================MAIN-FOOTER===================================================*/
.main_footer{
    color: #424242;
    background: url("../img/footer_bg.jpg") center no-repeat;
    background-size: cover;
}
.main_footer h6{
    color: #fff;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main_footer p{
    margin-top: 20px;
}
.name_white{
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}
.name_red{
    color: #ff0000;
    font-weight: 600;
    text-transform: uppercase;
}